<button class="btn btn-warning btn-lg" ng-click="roulette()">
    <span class="glyphicon glyphicon-star"></span> Roulette
</button>
<img src="../img/matsurineko.png" width="35" height="40" class="neko" ng-click="nekohide()">
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>

            <th>name</th>

            <th>title</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="line in lines" class="entry-list">
            <td>{{line.id}}</td>
            <td>{{line.name}}</td>
            <td>{{line.title}}</td>
        </tr>
        </tbody>
    </table>
</div>