<div class="container-fluid">
        <button class="btn btn-warning btn-lg" ng-click="roulette()">
            <span class="glyphicon glyphicon-star" ></span> Roulette
        </button>
</div>
   <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>

                <th>name</th>

                <th>title</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entry in entries">
                <td>{{entry.id}}</td>

                <td>{{entry.name }}</td>

                <td>{{entry.title }}</td>

                </td>
            </tr>
            </tbody>
        </table>
   </div>