/target
/lib
/classes
*.jar
*.class
/.lein-*
/.env
*.log
/resources/public/*.db
/resources/public/lib/*
node_modules
temp
tmp
.tmp
dist
.sass-cache
app/bower_components
test/bower_components
package
.idea
